@font-face{font-family: DINBold; src: url('../fonts/DINBold.ttf');}
@font-face{font-family: KozMinPr6N-Bold; src: url('../fonts/ KozMinPr6N-Bold.otf');}
@font-face{font-family: KozMinPr6N-ExtraLight; src: url('../fonts/KozMinPr6N-ExtraLight.otf');}
@font-face{font-family: KozMinPr6N-Heavy; src: url('../fonts/KozMinPr6N-Heavy.otf');}
@font-face{font-family: KozMinPr6N-Light; src: url('../fonts/KozMinPr6N-Light.otf');}
@font-face{font-family: KozMinPr6N-Medium; src: url('../fonts/KozMinPr6N-Medium.otf');}
@font-face{font-family: KozMinPr6N-Regular; src: url('../fonts/KozMinPr6N-Regular.otf');}
@font-face{font-family: meiryo; src: url('../fonts/meiryo.ttc');}
@font-face{font-family: meiryob; src: url('../fonts/meiryob.ttc');}
@font-face{font-family: ShinGoPro-DeBold; src: url('../fonts/ShinGoPro-DeBold.otf');}
@font-face{font-family: YuGothB; src: url('../fonts/YuGothB.ttc');}
@font-face{font-family: YuGothL; src: url('../fonts/YuGothL.ttc');}
@font-face{font-family: YuGothM; src: url('../fonts/YuGothM.ttc');}
@font-face{font-family: YuGothR; src: url('../fonts/YuGothR.ttc');}
@font-face{font-family: ShinGoPro-Regular; src: url('../fonts/ShinGoPro-Regular.otf');}
@font-face{font-family: ShinGoPro-Medium; src: url('../fonts/ShinGoPro-Medium.otf');}
@font-face{font-family: HiraKakuPro; src: url('../fonts/HiraKakuPro_w6.otf');}
@font-face{font-family: HiraKakuProN-W3; src: url('../fonts/HiraKakuProN-W3.otf');}

