.header{
    .logo-text{
        padding-top: 19px;
        .logo{
            padding-left: 7px;
        }  
    }
    .contact{
        padding-top: 26px;
        .phone{           
            img{
                float: left;
                margin: -30px;
                margin-left: -5px;
                padding-top: 45px;
            }
            span{  
                font-family: $font-m;
                color: #666666;
                font-size: 7.5pt;
                float: left;
                margin-left: -2px;
                margin-top: 32px;
            }
        }
        .email{
            margin-top: 14px;
            .btn{
                width: 100%;
                height: 45px;
                font-family: $font-mb;
                color: #ff6600;
                font-size: 10pt;
                font-weight: bold;
                border: none;
                background-color: #ffed4d;
                cursor: pointer;
            }
            .btn:hover{ 
                background-color: #ffed4d;
                opacity: 0.7;
            } 
        }
      
    }
    .btn-hide-icon{
        display: none;
    }
    .icon-bars::before{
        content: url('../images/icon-bar.png');
        position: absolute;
        top: 15px;
        right: 10px;
    }
    .icon-close::before{
       content: url('../images/icon-close.png');
       position: absolute;
       top: 15px;
       right: 15px;
    }

}