@media (min-width: 320px) and (max-width: 768px){
    #top,.header-mainnav,.mainimage,.contents,.footer,.tv-mainimage,.tv-contents{min-width: 300px;}
    #top{
        background-color: #006699;
        height: 2px;   
    }
    /********************* ▼ header-mainnav ▼***********************/
    .header-mainnav{
        .header{
            height: 95px;
            .logo-text{
                display: block;
                padding-top: 9.5px;
                .logo{
                    padding-left: 13px;
                    width: 206.66px;
                    height: 78px;
                }       
            }
            .contact{
                display: none !important;
            }
            .btn-hide-icon{
                display: block;
               .icon{
                   width: 60px;
                   height: 60px;
                   position: absolute;
                   cursor: pointer;
                   background-color: #006699;
                   top: 20px;
                   right: 20px;
                   border-radius: 10px;
               }
           }
        }
        .mainnav{
            display: none;
        }
        .mainnav-mobile{
            display: block;
            background-color: #006699 !important;
            color: white;
            position: absolute;
            width: 100%;
            height: 850px;
            margin-top: 95px;
            .menu-nav{
                .border{
                    border-bottom-style: dashed;
                    margin-left: 70px;
                    margin-right: 70px;
                    padding: 0px;
                    border-width: 1.5px;
                    a{
                        color: white;
                        text-decoration: none;
                        font-family: HiraKakuPro_w6;
                        font-size: 20pt;
                        padding: 25px;
                        margin-left: -25px;
                    }
                    a::before{
                        content:url('../images/icon-right-rps.png');
                        padding-right: 10px;
                    }
                }             
            }
        }
    }
    /************************* ▲ header-mainnav ▲*************************/
    /********************* ▼ mainimage ▼***********************/
    .mainimage{
        .soild{
            width: 80%;
            font-size: 25.33pt;
            padding: 10px 25px;
        }
    } 
    /************************* ▲ mainimage ▲*************************/ 
    /********************* ▼ contents ▼***********************/
    .contents{
        .content-1{
            padding: 0px; 
            margin-left: 13px;
            margin-right: 13px;
            .col-3{
                flex: 0 0 100%;
                max-width: 100%;
                text-align: center;
                .text{                       
                    li{
                        border-right: 0px;
                    }
                    p{
                        margin-left: 0px;
                    }
                    .btn-contact{
                        display: none;
                    }
                }                   
            }
            .day{
                margin: 0 auto;
                margin-top: 34px;
                p{
                    margin-bottom: 10px;
                    border-top: 1px dashed #dddd;   
                        margin-left: 0px;                      
                }
                .border-bot{
                    border-bottom: 1px dashed #dddd;
                    padding-bottom: 10px;
                    }
                .btn{
                    margin-bottom: 20px;
                    text-align: -webkit-center;
                    .btn-hide{
                        display: block;
                        border: none;
                        padding: 0px 25px 0 0;
                        margin-top: 15px;
                        background:#006699;
                        color: white;
                        font-family: $font-sm;
                        font-size: 13pt;
                        img{
                            padding: 12px;
                            float: left;
                            margin-right: 5px;
                        }
                    }
                }          
            }               
        }
        .content-2{
            .process{
                margin-left: 15px;
                margin-right: 15px;
                   .frame{
                    width: 168px;
                    height: 168px;
                    background-size: contain;
                    margin: 15px auto;
                    position: relative;
                    background-repeat: no-repeat;
                    .noidung{
                        width: 91%;
                        height: 94%;
                        margin-left: 5px;
                        margin-top: 5.5px;
                        .show,.hide{
                            margin-top: 22.5px;
                            width: 35%;
                        }
                        .h{
                            margin-top: 10.5px;
                        }                    
                        p{
                            font-size: 10pt;
                        }
                        .btn-process{
                            padding: 0px 10px;
                        }
                    }
                    
                   } 
            }
        }
        .content-3{
            .content-3-img{
                flex: 0 0 100%;
                max-width: 100%;
                order: 2;  
                display: flex;
                flex-direction: column;
                position: relative;
                .people{
                    margin-left: -10px;
                    height: 560px;
                }
                .trade{
                    position: absolute;
                    top: 48%;
                    right: 0;
                    width: 26%;
                }             
            }
            .content-3-text{
                flex: 0 0 100%;
                max-width: 100%;
                text-align: center;
                .content-sub{
                    margin-left: 17.5px !important;
                    margin-right: 17.5px !important;
                    .content-sub-1{
                        font-size: 28.33pt !important;
                    }
                    .content-sub-2{
                        font-family: $font-hira-w3 !important;
                        font-size: 22pt !important;
                        color: #535353 !important;
                    }
                    .btn-content3{
                        font-size: 16pt !important;
                        padding: 20px 40px !important;
                        img{
                            padding: 10px !important;
                            float: left !important;
                            width: 10px;
                        }
                    }
                }
            }     
        }
    }
      /************************* ▲ contents ▲*************************/ 
    .footer{
        .contact-footer{
            .col-6{
                flex: 0 0 100%;
                max-width: 100%;
                text-align: center;
            }
            .phone{
               img{margin-left: 0px !important;}
            }
            .email{
                .btn{
                    margin-left: 0px !important;
                    width: 45% !important;
                    margin-top: 20px;
                }
             }
        }
    }
  
}
@media(min-width: 320px) and (max-width: 639px){
    .process{
        .col-4{
            flex: 0 0 100%;
            max-width: 100%;
            .frame{
                width: 300px !important;
                height: 300px !important;
                .noidung{
                    width: 94% !important;
                    height: 96% !important;
                    p{
                        font-size: 20pt !important;
                    }
                    .btn-process{
                        padding: 4px 20px !important;
                    }
                }
            }
        }
    }
}
 /********************* ▼ header-mainnav ▼***********************/
    /************************* ▲ header ▲*************************/