.tv-mainimage{
    height: 160px;
    background-image: url('../images/tv-mainimage.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .text-file{
        margin-top: 68px;
        font-family: $font-m;
        color: #ffffff;
        font-size: 24pt;
    }
}